<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149616091767-jri3mi29c7ucakjlrs0debfoq6t4aahd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149616091767-jri3mi29c7ucakjlrs0debfoq6t4aahd</string>
	<key>API_KEY</key>
	<string>AIzaSyBXd-YfU2rm6UGX7sjEM9nNip4_hD0et5w</string>
	<key>GCM_SENDER_ID</key>
	<string>149616091767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wurllink.Jamwest-Reservation</string>
	<key>PROJECT_ID</key>
	<string>jamwest-reservation</string>
	<key>STORAGE_BUCKET</key>
	<string>jamwest-reservation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149616091767:ios:ce8270726158b4be1d5c72</string>
	<key>DATABASE_URL</key>
	<string>https://jamwest-reservation.firebaseio.com</string>
</dict>
</plist>